/* .city p {
    color: white;
    font-size: 1.599vw;
    font-weight: 600;
  } */
  /* .text {
    color: #7d7d7d;
    font-size: 1vw;
    font-weight: 600;
    padding-top: 1px;
  } */
  /* .cde {
    border: none !important;
    border-style: none !important;
  } */
  /* .card-img-top:hover{
    filter:drop-shadow(8px 8px white)
   } */
   /* .cde:hover .city p {
    color: #2ab57d;
  } */
  /* .cde:hover .city h6{
    color: white;
  }
  */